.directory
.DS_Store
CMakeLists.txt.user*
testing/scripts/*.pyc
testing/scripts/*.pyo
scripts/*.pyc
scripts/*.pyo
*~
*.bak
.classpath
.metadata
.project
.settings
.idea
/share/kumir2/python3language/__pycache__/run.cpython-33.pyc
/share/kumir2/python3language/__pycache__/analizer.cpython-33.pyc
/scripts/cpplint.py
/rules.txt
/artwork/userdocs_graphics/kumir_language/table_expressions_formulas.odg
/src/app/main.cpp.orig
/share/kumir2/icons/from_oxygen/.directory
/share/kumir2/icons/from_qtcreator/.directory
/share/kumir2/icons/.directory
/share/kumir2/editor/.directory
/share/kumir2/widgets/secondarywindow/.directory
/share/kumir2/widgets/secondarywindow/generic/.directory
/share/kumir2/widgets/secondarywindow/oxygen/.directory
/src/app/#CMakeLists.txt#
/share/kumir2/translations/qt_ru.ts
__pycache__