[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kumir2-ide %U
Icon=kumir2
Name=Kumir Professional Edition
Name[ru]=Кумир-Про
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;Math;
