<?xml version='1.0' encoding='UTF-8'?>
<!-- This document was created with Syntext Serna Free. --><!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "docbookV4.5/docbookx.dtd" []>
<book>
  <title>Руководство пользователя</title>
  <preface/>
  <chapter>
    <title>Обзор системы Кумир</title>
    <section>
      <title>Общие сведения</title>
      <para>Система Кумир  позволяет создавать, отлаживать и выполнять программы на универсальном языке программирования Кумир.
</para>
      <para>Кумир --  учебная система. Она сводит к минимуму &quot;накладные расходы&quot; на освоение, имеет развитую систему диагностики ошибок, средства, позволяющие ученику следить за
выполнением программы и т. п. Ученик, никогда ранее не программировавший, может
начать писать и выполнять алгоритмически относительно сложные программы через 1--2 часа после первого знакомства с Кумиром. В то же время система Кумир позволяет
создавать достаточно большие и сложные программы (сотни строк).
</para>
      <para>Во время редактирования программы система Кумир после каждого перевода курсора
на новую строку автоматически производит синтаксический разбор и сообщает о найденных ошибках.
</para>
    </section>
    <section>
      <title>Варианты поставки</title>
      <para>Система &quot;Кумир&quot; предназначена как для начинающих программировать, так и для более опытных пользователей. Пользовательский интерфейс системы представлен в нескольких вида для различных вариантов использования.</para>
      <orderedlist>
        <listitem>
          <para><emphasis role="bold">Классический</emphasis> -- предназначен для использования начальному обучению программированию. Данный вариант поставки предлагает одновременное редактирование только одной Кумир-программы, а также её выполнение встроенным интерпретатором.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Профессиональный</emphasis> -- предназначен для использования на олимпиадах по программированию а также для создания собственных программ, не требующих для своего выполнения среды &quot;Кумир&quot;. В данном варианте поставки предлагается редактирование нескольких программ, каждая из которых отображается в отдельной вкладке. Принципиальным отличием от &quot;классического&quot; варианта является возможность компиляции программ в исполняемый машинный код (для этого используется трансляция в промежуточный язык &quot;Си&quot;). Кроме того, данный вариант поставки позволяет сохранять и восстанавливать сеансы редактирования, включая историю изменения текстов.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Учительский</emphasis> -- предназначен для использования учителями при подготовке заданий и программ-шаблонов. Пользовательский интерфесй идентичен &quot;профессиональному&quot; варианту, в дополнение к которому предоставлена возможность создавать скрытые фрагменты, а также возможность защищать от изменения отдельные строки программы-шаблона<xref linkend="newinterface" endterm="userinterface"/>.</para>
        </listitem>
      </orderedlist>
    </section>
    <section>
      <title>Язык Кумир. Исполнители</title>
      <para>Язык &quot;Кумир&quot; --  универсальный язык программирования, его прототипом послужил &quot;школьный язык программирования&quot; разработанный А. П. Ершовым в первой половине 80-х
годов ХХ века. В дополнение к обычным для универсальных языков программирования
56
возможностям, Кумир имеет средства управления <emphasis role="italic">исполнителями</emphasis>. Говоря неформально,
<emphasis role="italic">исполнитель</emphasis> --  это устройство, которое может выполнять определенный набор действий.
Действие может совершаться над внешними для исполнителя данными (параметрами дей-
ствия) и/или над присущими исполнителю внутренними для него данными (обстановкой
исполнителя).
</para>
    </section>
    <section>
      <title>Сеанс работы системы Кумир. Состояния системы</title>
      <para>Начало работы в системе Кумир немного различается для различных вариантов поставки. В классическом варианте центральным компонентом является <emphasis role="italic">редактор программ</emphasis>, в то время как начало работы с профессиональным или учительским вариантом предлагает <emphasis role="italic">стартовую страницу</emphasis>, предоставляющую быстрый доступ к основным функциям системы. Стартовая страница может быть заменена учителем по своему усмотрению.</para>
      <para>Работа пользователя в системе Кумир состоит в:</para>
      <itemizedlist>
        <listitem>
          <para>подготовке программы к выполнению (<emphasis role="italic">редактирование</emphasis>, загрузка и сохранение программы и пр.);</para>
        </listitem>
        <listitem>
          <para><emphasis role="italic">выполнении</emphasis> программы (как в обычном, так и в отладочном режиме);</para>
        </listitem>
        <listitem>
          <para>просмотре (<emphasis role="italic">анализе</emphasis>) результатов работы программы (окончательных или промежуточных).</para>
        </listitem>
      </itemizedlist>
      <para>В зависимости от выполняемого действия, система Кумир находится в одном из четырех возможных состояний:</para>
      <orderedlist>
        <listitem>
          <para><emphasis role="bold">Редактирование</emphasis></para>
          <para>В этом режиме пользователю доступна возможность изменения текста программы.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Выполнение</emphasis></para>
          <para>В данном режиме Кумир блокирует возможность изменения программ.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Анализ</emphasis></para>
          <para>Этот режим эквивалентен режиму редактирования, но до первого изменения текста программы (или переключению на вкладку дрогой программы) сохраняет состояние, доставшееся ему во время выполнения для того, чтобы можно было проанализировать результаты выполнения.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Пауза</emphasis></para>
          <para>Этот режим является частным случаем режима выполнения и предполагает воздействие пользователя на систему, например, ввод данных или ожидание выполнения следующего шага в пошаговом режиме.</para>
        </listitem>
      </orderedlist>
    </section>
  </chapter>
  <chapter id="userinterface" xreflabel="Пользовательский интерфейс">
    <title>Пользовательский интерфейс системы</title>
    <section>
      <title>Общий вид системы</title>
      <para>Центральное место главного окна системы занимает <emphasis role="italic">редактор текстов программ</emphasis> (в вариантах для профессионального использования и для учителя их может быть несколько). Как и у многих пользовательских интерфейсов, Кумир имеет <emphasis role="italic">строку состояния</emphasis> и <emphasis role="italic">главное меню</emphasis>.</para>
      <para>Помимо главного окна, могут быть открыты <emphasis role="italic">дополнительные окна</emphasis> -- окно ввода/вывода, окна исполнителей и т. д. Особенностью интерфейса системы Кумир является то, что любые дополнительные окна системы можно <emphasis role="italic">прикреплять </emphasis>к главному окну системы, располагая их удобным для себя образом. Окно ввода/вывода изначано прикреплено к нижней кромке главного окна, в то время как остальные окна по умолчанию являются <emphasis role="italic">плавающими</emphasis>. </para>
      <para>Для прикрепления плавающего окна к главному, перетащите его к нужной границе главного окна. При этом будет отображаться место, где окно будет размещено. Отпущенное мышью окно будет прекреплено в том месте, которое отображалось во время перетаскивания. Если окно поместить поверх уже прикрепленного другого окна, то они будут занимать одно и то же положение, а переключение между ними будет доступно в виде вкладок.</para>
      <para>Для открепления окна от главного -- перетащите заголовок окна в свобоное место.</para>
    </section>
    <section>
      <title>Классический интерфейс Кумир</title>
      <para>Центральный компонент &quot;классического&quot; варианта поставки состоит из редактора программ, полей редактора и панели кнопок для быстрого доступа к часто используемым функциям.</para>
      <para>Панель кнопок разделена на четыре функциональные группы:</para>
      <orderedlist>
        <listitem>
          <para>Группа, состоящая из одной кнопки сохранения файла.</para>
        </listitem>
        <listitem>
          <para>Группа, состоящая из функций текстового редактора (вырезать, скопировать и пр.).</para>
        </listitem>
        <listitem>
          <para>Группа, состоящая из кнопок управления выполнением программы.</para>
        </listitem>
        <listitem>
          <para>Группа, состоящая из кнопок отображения окон канонических исполнителей: Робота и Чертежника.</para>
        </listitem>
      </orderedlist>
      <para>Отдельного пояснения требуют кнопки управления программой. Слева направа расположены кнопки:</para>
      <orderedlist>
        <listitem>
          <para><emphasis role="bold">Выполнение без показа на полях и обновления окна величин</emphasis></para>
          <para>Нажатие этой кнопки переводит систему в <emphasis role="italic">режим выполнения</emphasis> программы. Для ускорения выполнения не отображаются значения величин на полях, а в окне просмотра величин отображаются только названия и типы переменных, но не их значения.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Обычное выполнение</emphasis></para>
          <para>В этом режиме происходит обычное выполнение программы с визуализацией изменений величин.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Выполнение по шагам</emphasis></para>
          <para>Инициирует <emphasis role="italic">пошаговое выполнение</emphasis> программы. Во время выполнения данная кнопка имеет семантику &quot;выполнить следующий шаг&quot;.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Шаг внутрь алгоритма</emphasis></para>
          <para>Если во время пошагового выполнения текущая позиция предполагает вызов алгоритма, то становится доступна данная кнопка. Её нажатие выполняет переход к первой строке того алгоритма, на котором находится указатель.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Выход из алгоритма</emphasis></para>
          <para>Если во время пошагового алгоритма текущая позиция находтся внутри вспомогательного алгоритма, то становится доступна данная кнопка. Её нажатие выполняет переход к последней инструкции текущего алгоритма. </para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Остановить выполнение</emphasis></para>
          <para>Данная кнопка доступна в режиме <emphasis role="italic">выполения</emphasis> или <emphasis role="italic">паузы</emphasis>. Её нажатие прерывает выполнение программы и переводит систему в состояние <emphasis role="italic">анализа</emphasis>.</para>
        </listitem>
      </orderedlist>
    </section>
    <section id="newinterface">
      <title>Особенности интерфейса других вариантов</title>
      <para>В дополнение к классическому интерфейсу, вариант для профессионального использования имеет дополнительную кнопку -- <emphasis role="bold">Быстрое выполнение</emphasis>. Нажатие данной кнопки приводит к компиляции открытой программы в исполняемый файл, а затем -- его выполнение. При этом программа выполняется без показа на полях и  обновления окна величин.</para>
      <para>В учительском режиме редактор программ обладает дополнительными возможностями:</para>
      <orderedlist>
        <listitem>
          <para>Слева от нумерации строк представлена область отметок <emphasis role="italic">защищенности </emphasis>строк. При нажатии кнопкой мыши в данной области напротив нужной строки, она становится недоступной для редактирования в не-учительском режиме. Защищенные строки отображаются светло-синим фоном.</para>
        </listitem>
        <listitem>
          <para>В нижней части редактора находится область с горизонтальной линейкой. Данная линейка определяет границу между отображаемой и <emphasis role="italic">скрытой</emphasis> частью текста. Перетаскивание мышью данной линейки в строки текста, делает ту часть текста, которая расположена ниже линейки -- срытой. Скрытый текст отображается серым фоном. Для того, чтобы убрать линейку, переместите её в область у нижнего края редактора, либо в несуществующую часть теста.</para>
        </listitem>
      </orderedlist>
      <para>Как в профессиональном, так и в учительском варианте поставки возможно открытие нескольких текстов одновременно. Каждый текст открывается в отдельной вкладке.</para>
      <para os="not mac">Стартовая страница отмечена символом ~, первые девять открытых вкладок нумеруются цифрами от 1 до 9. Нажатие <keysym>Ctrl+~</keysym> или <keysym>Ctrl+цифра</keysym> позволяет быстро переключаться между вкладками.</para>
      <para>При завершении работы в профессиональном и учительском варианте появляется дополнительная опция: <emphasis role="bold">Сохранить состояние редактирования, но не сохранять файлы</emphasis>. Данная опция сохраняет сеанс работы &quot;как есть&quot; в текущем рабочем каталоге. Сеансовые данные включают в себя полную историю редактирования начиная с момента загрузки или создания текстов во всех вкладках.</para>
    </section>
  </chapter>
  <chapter id="editor" xreflabel="Редактор">
    <title>Текстовый редактор</title>
    <section>
      <title>Представление и содержание текста</title>
      <para>Текст программы состоит из символьных <emphasis role="italic">строк</emphasis>. Строки текста располагаются друг за другом; пустое пространство между строками текста также является строками (пустыми).</para>
      <para>Каждая строка программы имеет: а) относительный ранг, определяющий отступ данной строки относительно предыдущей; б) подстветку строки в соответствии с синтаксисом языка программирования.</para>
      <para>Пользовательским представлением (или визуализацией) текста программы является <emphasis role="italic">матрица символов</emphasis>. Эта матрица формируется в процессе отображения текста на экране. Текстовый курсор может перемещаться произвольно в любое положение матрицы. При этом перемещение курсора за пределы видимой части матрицы инициирует <emphasis role="italic">прокрутку</emphasis> области наблюдения за матрицей.</para>
      <para>Текст можно вводить в <emphasis role="italic">любое место</emphasis> матрицы. При этом курсор будет придвинут к концу текущей редактируемой строки (за исключением ввода комментариев, которое не приводит к горизонтальному перемещению курсора). Если в месте ввода строка текста отсутствовала, то она будет создана, а свободное пространство между нижней границей текста и текущей строкой -- дополнено пустуми строками.</para>
      <para>Перемещение курсора клавишами &quot;стрелок&quot; перемещает его относительно матрицы, нажатие клавиш &quot;Home&quot; или &quot;End&quot; перемещает курсор соответственно к левой либо правой границе <emphasis role="italic">реально существующего </emphasis>текста.</para>
      <para>Выделение текста производится обычным для текстовых редакторов образом.</para>
      <para>Помимо обычного выделения текста, также возможно <emphasis role="italic">выделение области матрицы </emphasis>символов. Оно выполняется с нажатой клавишей &quot;Alt&quot; (при выделении стрелками клавиатуры), либо с нажатой клавишей &quot;Shift&quot; (при выделении мышью).</para>
    </section>
    <section>
      <title>Нестандартные возможности редактора</title>
      <para>Здесь описаны некоторые возможности редактора, которые отсутствуют в других текстовых редакторах.</para>
      <para>Прежде всего, редактор Кумир-программ унифицирует внешний вид программ, автоматически расставляя отступы (которые нельзя поставить или удалить вручную), а также соблюдая не более чем однопробельный интервал между словами текста.</para>
      <para>Некоторые строки редактора могут быть защищены от редактирования. Как правило, подобные файлы  программы подготавливаются учителями в качестве шаблонов. Данные строки выделены светло-синим цветом, любые операции над текстом, которые содержат хотя бы одну данную строку в области выделения -- невозможны. Так же, естественно, невозможно редактирование текста в данных строках.</para>
      <para>Поскольку Кумир является языком с синтаксисом из символов кириллице, а при решении равличных задач часто приходится пользоваться латинскими буквами, редактор Кумир содержит специальную возможность для <emphasis role="italic">временного </emphasis>(как правило -- для ввода нескольких символов) <emphasis role="italic">переключения раскладки </emphasis>клавиатуры.</para>
      <para>Ввод буквенных символов с нажатой клавишей &quot;Alt&quot; (клавиша может быть переопределена в настройках в соответствии с каким-либо нестандартным положением клавиш на клавиатурах ноутбуков), приводит к появлению символов из противоположной раскладки клавиатуры.</para>
      <para>Кроме того, для вставки часто используемых конструкций предусмотрены <emphasis role="italic">макросы</emphasis> -- записанные последовательности команд редактирования текста с клавиатуры. Стандартные макросы определены в меню &quot;Вставка&quot; главного окна, возможность записи пользовательских макросов будет реализована в одной из ближайших версий.</para>
      <para>Для выполнения макроса нужно нажать последовательно клавишу &quot;Esc&quot;, а затем -- буквенную или цифровую клавишу, соответствующую данному макросу. Сочетания клавиш для вызова макроса можно посмотреть в меню &quot;Вставка&quot;.</para>
    </section>
    <section>
      <title>Дополнение введенного кода</title>
      <para>Если после набора первых символов имени локально или глобальной величины, либо алгоритма, нажать клавишу &quot;Tab&quot;, то появится список доступных объявленных имен, соотвествующих первым введенным буквам.</para>
      <para>Выбор элементов списка осуществяется нажатием стрелок вверх/вниз на клавиатуре, либо прокруткой списка указателем мыши. Для быстрого перемещения по списку можно воспользоваться клавишами &quot;PageUp&quot; и &quot;PageDown&quot;.</para>
      <para>Выбор подходящего элемента осуществляется двойным щелчком мыши, либо нажатием одной из клавиш: &quot;Enter&quot; или &quot;Пробел&quot;.</para>
      <para>Закрытие списка без автодополнения осуществляется клавишами &quot;Tab&quot; или &quot;Esc&quot;, либо нажатием мышью на любом месте редактора вне списка.</para>
    </section>
  </chapter>
</book>
