Source: kumir2
Section: science
Priority: optional
Maintainer: Victor Yacovlev <victor@lpm.org.ru>
Build-Depends: debhelper (>= 7.0.50~), libqt4-dev (>= 4.6.0), qt4-qmake, python, ant, gwt
Standards-Version: 3.9.1
Homepage: http://www.niisi.ru/kumir/

Package: kumir2-libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Libraries required to run Kumir-compiled programs
    This package is required in order to distribute Kumir-compiled
    programs without Kumir system itself.

Package: kumir2-common
Architecture: any
Depends: ${shlibs:Depends}, kumir2-libs, libqt4-script (>= 4.6.0)
Description: Shared libraries for various Kumir components
    Contains kumir2 extension system skeleton and other libraries

Package: kumir2-module-kumirstandardfunctions
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common
Description: Kumir standard library
    Standard library module

Package: kumir2-module-kumiranalizer
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-modules-kumirstandardfunctions
Description: Kumir language analizer
    Kumir language analizer


Package: kumir2-module-kumirnativegenerator
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, gcc
Provides: kumir2-module-generator
Description: Kumir AST to native execuable translator
    Generator of execuables by Kumir language AST (via gcc toolchain)

Package: kumir2-module-kumircodegenerator
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common
Provides: kumir2-module-generator
Description: Kumir AST to execuable bytecode translator
    Generator of bytecode to be evaluated by Kumir VM

Package: kumir2-module-kumircompiler
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-module-kumiranalizer, kumir2-module-kumirnativegenerator
Description: Kumir compiler toolchain module
    Provides ability to compile Kumir programs

Package: kumir2-module-kumirbcompiler
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-module-kumiranalizer, kumir2-module-kumircodegenerator
Description: Kumir bytecode compiler toolchain module
    Provides ability to bytecode-compile Kumir programs

Package: kumir2-module-kumircoderun
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-module-kumirstandardfunctions
Description: Kumir bytecode interpreter module
    Intepreter of Kumir-2 bytecode

Package: kumir2-module-editor
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common
Description: Kumir program editor
    Kumir program editor module

Package: kumir2-module-browser
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, libqt4-webkit (>= 4.6.0)
Description: Kumir Webkit browser
    Webkit browser

Package: kumir2-module-coregui
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-modules-editor, kumir2-modules-browser, kumir2-modules-kumiranalizer, kumir2-modules-generator, kumir2-modules-coderun
Description: GUI for Kumir
    GUI for Kumir

Package: kumir2-utils-cc
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-modules-compiler
Description: Kumir to native execuable compiler tool
    A tool to compile kumir-programs into native execuables via gcc.
    Run "kumir2-cc --help" for more information

Package: kumir2-utils-bc
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-modules-bcompiler
Description: Kumir to portable bytecode execuable compiler tool
    A tool to compile kumir-programs into portable execuable bytecode
    Run "kumir2-bc --help" for more information

Package: kumir2-utils-as
Architecture: any
Depends: ${shlibs:Depends}, kumir2-libs
Description: Kumir bytecode (dis)assembler tool
    A tool to assemble/disassemble Kumir portable execuable bytecode
    Run "kumir2-as --help" for more information

Package: kumir2-utils-run
Architecture: any
Depends: ${shlibs:Depends}, kumir2-common, kumir2-modules-kumircoderun
Description: Kumir portable bytecode interpreter
    Standalone kumir programs launcher
    Run "kumir2-run --help" for more information

Package: kumir2-professional
Architecture: any
Depends: ${shlibs:Depends}, kumir2-modules-coregui, kumir2-modules-kumirnativegenerator, kumir2-modules-kumiranalizer, kumir2-modules-kumircodegenerator
Description: Kumir Professional Edition
    Kumir IDE for high school applications

Package: kumir2-standard
Architecture: any
Depends: ${shlibs:Depends}, kumir2-modules-CoreGui, kumir2-modules-kumiranalizer, kumir2-modules-kumircodegenerator
Description: Kumir Standard Edition
    Kumir IDE for school applications

Package: kumir2-teacher
Architecture: any
Depends: ${shlibs:Depends}, kumir2-modules-coregui, kumir2-modules-kumirnativegenerator, kumir2-modules-kumiranalizer, kumir2-modules-kumircodegenerator
Description: Kumir Teacher Edition
    Kumir IDE for tutors

Package: kumir2-libs-painter
Architecture: any
Depends: ${shlibs:Depends}, kumir2-libs
Description: Actor Painter runtime libraries
    Libraries required to distribute Kumir-compiled programs
    using actor Painter

Package: kumir2-actor-painter
Architecture: any
Depends: ${shlibs:Depends}, kumir2-libs-painter, kumir2-common
Description: Actor Painter for Kumir
    Actor Painter adds raster-painting feauteres for Kumir
