@CHARSET "UTF-8";

.docbook_screen {
	font-family: Droid Sans, DejaVu Sans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 1em;
}


.docbook_screen p {
	text-align: justify;
	text-indent: 1em;
	margin-top: 1em;
}

.docbook_screen pre {
	display: block;
	background-color: #DDDDDD;
	padding: 1em;
	font-family: Droid Sans Mono, DejaVu Sans Mono, Lucida Console, Courier New, Courier, monospace;
}

.docbook_screen booktitle, articletitle, chaptertitle, sectiontitle {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 250%;
	line-height: normal;
	text-indent: 0;
	font-weight: bold;
}

.docbook_screen booksubtitle, articlesubtitle, chaptersubtitle, sectionsubtitle {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 150%;
	line-height: normal;
	font-weight: bold;
	font-style: italic;
	margin-top: 2em;
}

.docbook_screen documenttitle, documentsubtitle {
	text-align: center;
}

.docbook_screen sectiontitle .level1 {
	font-fize: 200%;
}

.docbook_screen sectiontitle .level2 {
	font-fize: 150%;
}

.docbook_screen sectiontitle .level3, .level4, .level5 {
	font-fize: 100%;
}

.docbook_screen sectionsubtitle .level1, .level2, .level3, .level4, .level5 {
	font-fize: 100%;
}

.docbook_screen example {
	display:block;
	margin: 1em;
	margin-top: 2em;
	border: 1px solid blue;
}

.docbook_screen exampletitle {
	display: block;
	font-weight: bold;
	background-color: lightblue;
	color: darkblue;
	border-bottom: 1px solid blue;
	margin: 0;
	font-style: italic;
	text-align: center;
}

.docbook_screen .emph_bold {
	padding: 0;
	font-weight: bold;
	font-size: 125%;
	font-variant: small-caps;
	color: darkblue;
}

.docbook_screen .emph_italic {
	padding: 0;
	color: darkblue;
}

.docbook_screen ul {
	list-style-type: disc;
}

.docbook_screen ol {
	list-style-type: decimal;
}

.docbook_screen ul, ol {
	margin-left: 2em;
}

.docbook_screen li p {
	margin-left: 0;
	text-indent: 0;
}

