@CHARSET "UTF-8";

body {
	margin: 0;
}


.gwt-SplitLayoutPanel-HDragger {
  background: #e7e7e7 url(images/thumb_vertical.png) center center no-repeat;
  cursor: col-resize;
}
.gwt-SplitLayoutPanel-VDragger {
  background: #e7e7e7 url(images/thumb_horz.png) center center no-repeat;
  cursor: row-resize;
}

.gwt-TabLayoutPanel {
	background-color: #ccc;
}

.gwt-Label {
	font-family: Droid Sans, DejaVu Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.gwt-Tree {
	font-family: Droid Sans, DejaVu Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.gwt-TabLayoutPanelContentContainer {
	background-color: white;
}

.gwt-TabLayoutPanelTab {
	  border-collapse: collapse;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
  	  margin-left: 4px;
  	  padding: 7px 5px 4px 5px;
	  cursor: pointer;
	  cursor: hand;
	  color: #fff;
	  height: 20px;
	  text-align: center;
	  background: #8E8E8E;
}

.gwt-TabLayoutPanelTab-selected {
	  background: white;
	  color: black;
}

.gwt-Tree .gwt-TreeItem {
  padding: 1px 0px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
}
.gwt-Tree .gwt-TreeItem-selected {
  background: #cccccc;
}
.gwt-TreeItem .gwt-RadioButton input,
.gwt-TreeItem .gwt-CheckBox input {
  margin-left: 0px;
}

#SearchRequestPanel {
	padding: 10px;
	/* background-color: #f5f5f5; */
	width: 100%;
}

#ScrollPanel {
	background-color: green;
	overflow: visible;
}

#SearchTextBox {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid gray;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background-color: white;
	height: 24px;
	font-size: 18px;
	margin-right: 0;
	border-right: 0px;
	width: 140px;
	
}

#DoSearchButton {
	margin-left: 0;
	border: 1px solid gray;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: #8E8E8E;
	height: 26px;
	width: 48px;
	cursor: pointer;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 150px;
	top: 10px;
	
}

#DoSearchButton:hover {
	background-color: #cccccc;
}

#SearchPanel {
	
}

#SearchResults {
	padding-left: 10px;
}

.SearchItemClass {
	
}

.SearchItemClass .gwt-TreeItem {
	position: absolute;
	left: 10px;
	font-size: 14px;
	border-bottom: 1px solid gray;
}

.SearchItemClass .gwt-TreeItem-selected {
	font-weight: bold;
	border-bottom: 1px solid black;
	background: none;
}

.SearchItemClass:hover .gwt-TreeItem:hover {
	border-bottom: 1px solid blue;
	color: blue;
}