<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE section PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" []>
<section>
    <title>Главное меню системы &quot;Кумир&quot;</title>
    <para>
        Главное меню системы содержит семь <emphasis role="italic">основных</emphasis> пунктов и некоторое количество
        пунктов, которые могут меняться в зависимости от поставки системы. Каждому из этих пунктов соостветствует
        свое раскрывающееся меню.
    </para>
    <section>
        <title>Меню &quot;Программа&quot;</title>
        <para>
            Меню <guimenu>Программа</guimenu> содержит действия для работы с файлами Кумир-программ, которые имеют
            суффикс имени <code>.kum</code>.
            <orderedlist>
                <listitem>
                    <para><guimenuitem>Новая программа</guimenuitem> -- создает новую пустую программу в соответствии
                        с установленным шаблоном.</para>
                </listitem>
				<listitem>
					<para>
						<guimenuitem>Новый текст</guimenuitem> -- создаёт и открывает на редактирование пустой текстовый файл.
						Доступно только в конфигурациях <emphasis role="bold">Профессиональная</emphasis> и <emphasis role="bold">Для учителей</emphasis>.
					</para>
				</listitem>
                <listitem>
					<para><guimenuitem>Загрузить</guimenuitem> -- отображает диалог выбора файла для
                        загрузки в систему.</para>
                </listitem>
                <listitem>
                    <para><guimenu>Недавние файлы</guimenu> -- открывает вложенное подменю, содержащее элементы
                        для быстрого открытия последних файлов (не более 10 элементов)</para>
                </listitem>
                <listitem>
                    <para><guimenuitem>Сохранить</guimenuitem> -- если файл был загружен или
						ранее уже был сохранён на компьютер, то перезаписывает его;
						в противном случае отображает диалог выбора имени файла для его сохранения.
                    </para>
                </listitem>
                <listitem><para>
					<guimenuitem>Сохранить как</guimenuitem> -- отображает диалог выбора имени
					файла для его сохранения.
                </para></listitem>
				<listitem>
					<para>
						<guimenuitem>Закрыть вкладку</guimenuitem> -- закрывает рабочую вкладку системы КуМир. Если в файле, 
						находящемся на этой вкладке были проведены несохранённые изменения, открывается диалоговое окно с предложением 
						«Сохранить текущий текст?».
						Доступно только в конфигурациях <emphasis role="bold">Профессиональная</emphasis> и <emphasis role="bold">Для учителей</emphasis>.
					</para>
				</listitem>
                <listitem><para>
                    <guimenuitem>Выбор каталога пользователя</guimenuitem> -- отображает диалог изменения
                    текущего рабочего каталога
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Настройки</guimenuitem> -- отображает диалог изменения настроек системы
                    &quot;Кумир&quot;
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Выход</guimenuitem> -- завершает работу с системой &quot;Кумир&quot;.
                </para></listitem>
            </orderedlist>
        </para>
    </section>
    <section>
        <title>Меню &quot;Редактирование&quot;</title>
        <para>Редактор системы Кумир обеспечивает стандартные средства редактирования текстов:
            ввод символов в режиме вставки или замены, удаление символов, выделение / копирование /
            вставку / удаление фрагмента текста, &quot;откатку&quot; (отмену последних действий) и
            &quot;накатку&quot; (отмену откатки), поиск по тексту и&nbsp;т.&nbsp;д. Эти действия можно выполнять как в
            непосредственном режиме, так и с помощью меню <guimenu>Редактирование</guimenu>. Кроме того, редактор
            программ системы Кумир предоставляет пользователю дополнительные возможности,
            ориентированные на специфику языка Кумир.
            <orderedlist>
                <listitem><para>
                    <guimenuitem>Отменить последнее действие</guimenuitem> -- отменяет последнее выполненное действие,
                    которое привело к изменению текста в области редактирования
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Повторить отмененное действие</guimenuitem> -- если последней операцией,
                    изменившей текст в области редактирования, была &quot;откатка&quot; изменений, то
                    повторяет отмененное действие; в противном случае, этот пункт меню недоступен
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Выбрать весь текст</guimenuitem> -- устанавливает выделение от начала текста
                    до его конца
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Вырезать</guimenuitem> -- удаляет выделенную часть текста, сохраняя при этом
                    удаленный текст в системном <emphasis role="italic">буфере обмена</emphasis>
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Скопировать</guimenuitem> -- копирует выделенную часть текста в
                    системный буфер обмена
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Вставить</guimenuitem> -- вставляет в текущее положение текстового курсора
                    текст из системного буфера обмена, перемещая при этом курсор вперед на количество вставленных
                    символов
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Найти</guimenuitem> -- отображает панель поиска текста
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Заменить</guimenuitem> -- отображает панель поиска текста и переключает ее в режим
                    отображения опций замены
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Удалить строку</guimenuitem> -- полностью удаляет текстовую строку, в которой
                    находится курсор
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Удалить текст до конца строки</guimenuitem> -- удаляет фрагмент текста в строке от первого
                    символа после курсора до конца строки
                </para></listitem>
                <listitem><para>
                    <guimenuitem>(Рас)комментировать строки</guimenuitem> -- если текущая строка не начинается с
                    символа комментария, то вставляет символ комментария в начало строки, иначе -- убирает его.
                    Если выделен фрагмент текста, то данная операция производится ко всем строкам, которые затрагивает
                    выделение
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Запись последовательности нажатий клавиш</guimenuitem> -- начинает запись
                    последовательности нажатий клавиш, при этом в строке состояния главного окна рядом с надписью
                    &quot;Редактирование&quot; появляется красный (для темной темы оформления -- оранжевый) круглый
                    индикатор. Повторная активация этого пункта меню приводит к завершению записи последовательности
                    и отображает диалог назначения имени и комбинации клавиш для записанной последовательности
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Изменить записанные последовательности</guimenuitem> -- если ранее были записаны
                    последовательности нажатий клавиш, то этот пункт меню становится доступен, а его активация
                    приводит к отображению диалога редактирования свойств записанных последовательностей.
                </para></listitem>
            </orderedlist>
        </para>
    </section>
    <section>
        <title>Меню &quot;Вставка&quot;</title>
        <para>Меню <guimenu>Вставка</guimenu> содержит две группы действий:
            <orderedlist>
                <listitem><para>Операции вставки конструкций используемого языка программирования</para></listitem>
                <listitem><para>Операции выполнения записанных ранее последовательностей нажатий клавиш.</para></listitem>
            </orderedlist>
        </para>
    </section>
    <section>
        <title>Меню &quot;Выполнение&quot;</title>
        <para>Элементами меню <guimenu>Выполнение</guimenu> являются действиями по запуску и остановке
            выполнения текущей программы:
            <orderedlist>
                <listitem><para><guimenuitem>Без показа на полях</guimenuitem>
                    -- запуск программы в ускоренном выполнении, при котором на полях не отображаются
                    значения изменяемых величин
                </para></listitem>
                <listitem><para><guimenuitem>Обычное выполнение</guimenuitem>
                    -- запуск программы в обычном режиме, при котором на полях редактора отображаются
                    значения изменяемых величин
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Запустить тестирование</guimenuitem>
                    -- выполнение специального тестирующего алгоритма
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Остановить выполнение</guimenuitem>
                    -- принудительно останавливает выполнение программы до ее завершения
                </para></listitem>
                <listitem><para>
                    <guimenuitem>ШАГ</guimenuitem> -- в режиме паузы выполняет очередную строку; если выполнение
                    программы еще не началось, то запускает выполнение в пошаговом режиме
                </para></listitem>
                <listitem><para>
                    <guimenuitem>шаг</guimenuitem> -- в режиме паузы выполняет очередную строку; если выполнение
                    программы еще не началось, то запускает выполнение в пошаговом режиме.
                    В отличии от действия <guimenuitem>ШАГ</guimenuitem>, если очередная инструкция является
                    вызовом алгоритма или функции, то активация действия <guimenuitem>шаг</guimenuitem>
                    приводит к пошаговому выполнению вызываемого алгоритма
                </para></listitem>
                <listitem><para>
                    <guimenuitem>До конца алгоритма</guimenuitem>
                    -- в режиме паузы запускает выполнение программы до конца текущего алгоритма, после чего
                    выполнение приостанавливается.
                </para></listitem>
            </orderedlist>
        </para>
    </section>
    <section>
        <title>Меню &quot;Окна&quot;</title>
        <para>Меню <guimenu>Окна</guimenu> содержит действия отображения дополнительных окон системы &quot;Кумир&quot;,
            которые реализуются <emphasis role="italic">исполнителями</emphasis>. Помимо этого, данное меню
            содержит два действия:
            <orderedlist>
                <listitem><para>
                    <guimenuitem>Отображать нижнюю часть окна</guimenuitem>
                    -- вызов этого действия отображает либо скрывает нижнюю часть главного окна с областью
                    ввода-вывода.
                </para></listitem>
                <listitem><para>
                    <guimenuitem>Практикум</guimenuitem>
                    -- отображат дополнительное окно <emphasis role="italic">практикума</emphasis>.
                </para></listitem>
            </orderedlist>
        </para>
    </section>
    <section>
        <title>Меню "Практикум"</title>
        <para>
			Меню <guimenu>Практикум</guimenu> содержит следующие пункты:
		</para>
		<itemizedlist>
			<listitem>
				<para>
					<guimenuitem>Загрузить курс</guimenuitem> -- загрузить файл описания курса или тетрадь.
				</para>
			</listitem>
			<listitem>
				<para>
					<guimenuitem>Недавние тетради/курсы </guimenuitem> -- открыть список недавно использовавшихся тетрадей/курсов.
				</para>
			</listitem>
			<listitem>
				<para>
					<guimenuitem>Проверить</guimenuitem> -- запустить проверку заданий.
				</para>
			</listitem>
			<listitem>
				<para>
					<guimenuitem>Сохранить как … </guimenuitem> -- сохранить тетрадь.
				</para>
			</listitem>
			<listitem>
				<para>
					<guimenuitem>Вернуться к исходной </guimenuitem> -- возврат всех исполнителей к исходным обстановкам. 
					Все пользовательские изменения в файле программы также аннулируются.
				</para>
			</listitem>
			<listitem>
				<para>
					<guimenuitem>Вернуться к проверенной</guimenuitem> -- вернуть состояние исполнителей и файла программы 
					к тому моменту, когда программа последний раз подавалась на проверку.
				</para>
			</listitem>
			<listitem>
				<para>
					<guimenuitem>Следующая обстановка </guimenuitem> -- загрузить следующую обстановку из тех на которых будет 
					производиться проверка.
				</para>
			</listitem>
			<listitem>
				<para>
					<guimenuitem>Предыдущая обстановка </guimenuitem> -- загрузить предыдущую обстановку из тех на которых будет 
					производиться проверка.
				</para>
			</listitem>
		</itemizedlist>
    </section>
	<section id="Меню исполнителей">
		<title>Различные меню от исполнителей</title>
		<para>
			Различные исполнители системы Кумир могут иметь свои одноименные меню, которые располагаются в главном окне
			между меню <guimenu>Практикум</guimenu> и <guimenu>Информация</guimenu>.
			Подробнее см. руководства к конкретным исполнителям.
		</para>
	</section>
    <section>
        <title>Меню &quot;Инфо&quot;</title>
        <para>
            Меню <guimenu>Инфо</guimenu> (сокращение от &quot;Информация&quot;) содержит элементы, вызов которых
            приводит к отображению информационных окон.
            <orderedlist>
                <listitem>
                    <para><guimenuitem>Справочные руководства</guimenuitem>
                        -- дополнительное окно системы с навигацией по доступным справочным руководствам.
                    </para>
                </listitem>
                <listitem>
                    <para><guimenuitem>Текущие значения величин</guimenuitem>
                        -- в режиме паузы отображает значения величин, используемых в программе.
                    </para>
                </listitem>
                <listitem><para>
                    <guimenuitem>О программе</guimenuitem>
                    -- отображает диалог со сведениями о системе &quot;Кумир&quot;.
                </para></listitem>
            </orderedlist>
        </para>
    </section>
</section>